<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/blogs" method="POST">
      <label for="nom">Employee name:</label>
      <input type="text" id="nom" name="nom" required>
      <label for="prenom">Employee prenom:</label>
      <input type="text" id="prenom" name="prenom" required>
      <label for="anciennete">anciennete:</label>
      <input type="number" id="anciennete" name="anciennete" required>

      <label for="numero">Numero:</label>
      <input type="number" name="adresse[numero]" id="numero">

      <label for="codepostal">codepostal:</label>
      <input type="number" name="adresse[codepostal]" id="codepostal">

      <label for="ville">ville:</label>
      <input type="text" name="adresse[ville]" id="ville">

      <button>Submit</button>
    </form>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>