<nav>
    <div class="site-title">
      <a href="/"><h1>Employee Manager</h1></a>
      <p>A mongodb Project</p>
    </div>
    <ul>
      <li><a href="/">Employees</a></li>
      <li><a href="/about">About this project</a></li>
      <li><a href="/employees/create">Add New Employee</a></li>
    </ul>
  </nav>