<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About:</h2>
    <p>This platform is created for a mongodb project.</p>
    <p>We made use of NODEJS, and it's compatibility with mongodb, and NOSQL databases in general.</p>
    <p>We have used the NPM packages EXPRESS and MONGOOSE to ensure the link between the database and the application.</p>
    <p>We took advantage of the MVC architecture, for modularity and easy of code (see on Github).</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>